################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Empenos
/.vs/Empeños/v16/Server/sqlite3
/.vs
/packages
/Empeños/obj/Debug
/Empeños/bin/Debug
